# Byte-compiled files
*.pyc
__pycache__/

# Data files
data/raw_data.csv
data/*.xlsx
data/*.csv

# Visuals and outputs
visuals/
*.png
*.jpg

# Operating system files
.DS_Store

# Environment and configuration files
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Temporary files
*.log
*.tmp

# Notebook output files
*.html
*.pdf

